{% extends 'base.html' %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<header class="masthead-account">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-10 col-sm-10 col-xs-12 auth-div p-5">
				<h2 class="text-uppercase text-center font-weight-bold">{% trans "Confirm E-mail Address" %}</h2>
				<hr>
				{% if confirmation %}
				{% user_display confirmation.email_address.user as user_display %}
				<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm
					that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
				{{ user_display }}.{% endblocktrans %}</p>
				<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
					{% csrf_token %}
					<div class="d-grid gap-2">
						<button class="btn btn-primary btn-lg" type="submit">{% trans 'Confirm' %}</button>
					</div>
				</form>
				{% else %}
				{% url 'account_email' as email_url %}
				<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please
					<a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</header>
{% include 'footer.html' %}
{% endblock %}