{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<header class="masthead-account">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-10 col-sm-10 col-xs-12 auth-div p-5">
				<h2 class="text-uppercase text-center font-weight-bold">{% trans "Change Password" %}</h2>
				<hr>
				<p class="text-center">{% trans 'Your password is now changed.' %}</p>
			</div>
		</div>
	</div>
</header>    
{% endblock %}