{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block content %}
<header class="masthead-account">
	<div class="container">
		<div class="row h-100 justify-content-center">
			<div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 auth-div p-5">
				<h2 class="text-uppercase text-center font-weight-bold">Sign up</h2>
				<form method="post">
					{% csrf_token %}
					<div class="mb-3">
						{{ form|crispy }}
					</div>
					<div class="d-grid gap-2">
						<button id="submit_button" class="btn btn-secondary btn-lg" type="submit">Signup</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>
{% include 'footer.html' %}
{% endblock content %}
