{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<header class="masthead">
	<div class="container h-100">
		<div class="row h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<h1 class="text-uppercase text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
				<hr class="divider my-4" />
			</div>
			<div class="col-lg-8 align-self-baseline">
				<h2 class="text-white-75 font-weight-light mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours</h2>
				<form action="{% url 'search_results' %}">
					<div class="input-group mb-3">
						<input name="search" type="text" class="form-control form-control-lg" placeholder="Produit"aria-describedby="button-addon2">
						<button class="btn btn-secondary btn-lg" type="submit" id="button-addon2">Rechercher</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>
<!-- About-->
<section class="page-section" id="about">
	<div class="container">
		<div class="row justify-content-center" id="row-about">
			<div class="col-lg-8 text-center">
				<h2 class="text-white mt-0">Colette et Remy</h2>
				<hr class="separator-about">
				<p class="text-white-50 mb-4">Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.</p>
				<div class="row">
					<div class="col-lg-6">
						<p class="text-white-50 mb-4">Colette Tatou: "Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !"</p>
					</div>
					<div class="col-lg-6">
						<p class="text-white-50 mb-4">Remy: "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !"</p>
					</div>
				</div>
				<hr class="separator-about">
			</div>
		</div>
	</div>
</section>
<section class="page-section m-0 p-0" id="portfolio">
	<div class="container-fluid">
		<div class="row row-no-gutters mt-0">
			<div class="col-lg-4 col-md-6 d-none d-lg-block p-0 m-0 portfolio-img">
				<img src="{% static 'images/colette-9.jpg' %}"/>
				<div class="overlay">
					<div class="portfolio-txt">Colette co-fondatrice de Pur Beurre</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 d-none d-lg-block p-0 m-0 portfolio-img p-img-2">
				<img src="{% static 'images/remy-10.jpg' %}"/>
				<div class="overlay">
					<div class="portfolio-txt p-txt-2">Remy co-fondateur de Pur Beurre</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 d-none d-lg-block p-0 m-0 portfolio-img">
				<img src="{% static 'images/colette-6.jpg' %}"/>
				<div class="overlay">
					<div class="portfolio-txt p-txt-2">Colette pendant la finale de Top Chef</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 d-none d-lg-block p-0 m-0 portfolio-img">
				<img src="{% static 'images/remy-2.jpg' %}"/>
				<div class="overlay">
					<div class="portfolio-txt p-txt-2">
						<blockquote class="blockquote">
							<p class="mb-0">"La cuisine est la servante de la médecine"</p>
							<footer class="blockquote-footer mt-1"><cite title="Source Title">Remy</cite></footer>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 d-none d-lg-block p-0 m-0 portfolio-img">
				<img src="{% static 'images/ratatouille-11.jpg' %}"/>
				<div class="overlay">
					<div class="portfolio-txt p-txt-2">Première collaboration de Colette et Remy: le restaurant "La Ratatouille" à Paris</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 d-none d-lg-block p-0 m-0 portfolio-img">
				<img src="{% static 'images/remy-4.jpg' %}"/>
				<div class="overlay">
					<div class="portfolio-txt p-txt-2">Couverture du magazine "healthy food life" avec Remy</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
	<div class="container" id="row-contact">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="text-white mt-0">Contactez-nous !</h2>
				<hr class="separator-contact">
				<p class="text-white mb-4">Une question ? N'hésitez pas à nous appeler ou nous envoyer un email !</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
				<i class="fas fa-phone fa-3x mb-3 text-muted"></i>
				<div>01 25 45 67 12</div>
			</div>
			<div class="col-lg-4 mr-auto text-center">
				<i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
				<!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
				<a class="d-block contact-email" href="mailto:contact@pur-beurre.com">contact@pur-beurre.com</a>
			</div>
		</div>
	</div>
</section>
{% include 'footer.html' %}
{% endblock content %}