{% extends 'base.html' %}

{% block title %}Mes Substituts{% endblock title %}

{% block content %}
<header class="masthead-account">
	<div class="container">
		<div class="row h-100 justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<h1 class="text-uppercase text-white font-weight-bold">Mes produits</h1>
				<hr class="divider my-4" />
			</div>
			<div class="col-lg-8 align-self-baseline">
				<h1 class="text-white-75 font-weight-light mb-5"></h1>
			</div>
		</div>
	</div>
</header>
<div class="container mt-5">
	<div class="row row-item justify-content-left">
		{% for elt in user_substitutes_list %}
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="text-center mt-3">
				<div class="nutriscore-item nutriscore-type-{{ elt.nutriscore }} d-none d-lg-block">{{ elt.nutriscore|upper }}</div>
				<div class="container-product">
					<a href="{% url 'substitute_detail' elt.pk %}"><div class="card product-card mb-3 " style="background-image: url('{{ elt.image }}')"></div></a></div>
					<h4>{{ elt.name|truncatewords:2 }}</h4>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock content %}