{% extends 'base.html' %}

{% block title %}Account{% endblock title %}

{% block content %}
<header class="masthead-account">
	<div class="container">
		<div class="row h-100 justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<h1 class="text-uppercase text-white font-weight-bold">AHOY</h1>
				<hr class="divider my-4" />
			</div>
			<div class="col-lg-8 align-self-baseline">
				<h1 class="text-white-75 font-weight-light mb-5">{{ user.first_name }}</h1>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row mt-4 justify-content-center text-center">
		{{ user.email }}
	</div>
</div>
{% endblock content %}