<footer class="bg-light py-5">
	<div class=container>
		<div class="row d-flex flex-row justify-content-center">
				<div class="col-lg-4">
					<div class="footer-legal legal-item small text-center text-muted"><a href="{% url 'legal' %}">Mentions légales</a></div>
				</div>
				<div class="col-lg-4">
					<div class="footer-contact legal-item small text-center text-muted"><a href="/#contact">Contact</a></div>
				</div>
				<div class="col-lg-4">
					<div class="footer-contact legal-item small text-center text-muted"><a href="{% url 'newsletter' %}">Newsletter</a></div>
				</div>
			</ul>
		</div>
	</div>
</footer>