{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
<header class="masthead-detail-product" style="background: center / contain no-repeat url('{{ product.image }}'),
            black 35%;">
	<div class="container h-100">
		<div class="row h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<h1 class="item-name">{{ product.name }}</h1>
			</div>
		</div>
	</div>
</header>
<div class="container mt-3">
	<div class="row row-item">
		{% for elt in substitutes %}
		<div class="col-lg-3">
			<div>
				<a href="{% url 'substitute_detail' elt.pk %}"><div class="product-card mb-3" style="background-image: url('{{ elt.image }}')"></div></a>
				<h4>{{ elt.name }}</h4>
				<a href="#"><span><i class="fas fa-save"></i> Sauvegarder</span></a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}