{% extends 'base.html' %}

{% load static %}

{% block title %}Mentions Legales{% endblock title %}

{% block content %}
<header class="masthead-account">
	<div class="container">
		<div class="row h-100 justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<h1 class="text-uppercase text-white font-weight-bold">Mentions légales</h1>
				<hr class="divider my-4" />
			</div>
			<div class="col-lg-8 align-self-baseline">
			</div>
		</div>
	</div>
</header>
<div class="container mt-3 container-legal">
	<div class="row text-center mt-3">
		<h4>Compagnie</h4>
		<p><i class="far fa-copyright"></i> Pur Beurre</p>
	</div>
	<hr>
	<div class="row text-center mt-3">
		<h4>Conçu avec </h4>
		<p><a href="https://www.python.org/"><i class="fab fa-python legal-item-2 legal-item-2-1"></i></a> <a href="https://www.djangoproject.com/"><span class="iconify legal-item-2 legal-item-2-2" data-icon="logos-django" data-inline="false"></span></a> <a href="https://getbootstrap.com/"><i class="fab fa-bootstrap legal-item-2 legal-item-2-3"></i></a></p>
	</div>
	<hr>
	<div class="row text-center mt-3">
		<h4>Hébergé par </h4>
		<p><a class="heroku-icon legal-item-2" href="https://www.heroku.com
			"><span class="iconify" data-icon="simple-icons:heroku" data-inline="false"></span> Heroku</a>
		</div>
		<hr>
		<div class="row text-center mt-3">
			<h4>Icones </h4>
			<p><a href="https://fontawesome.com/"><i class="fab fa-font-awesome legal-item-2 legal-item-3-1"></i></a></p>
		</div>
		<hr>
		<div class="row text-center mt-3">
			<h4>Template </h4>
			<p><a href="https://startbootstrap.com/theme/creative">https://startbootstrap.com/theme/creative</a></p>
		</div>
		<hr>
		<div class="row text-center mt-3">
			<h4>Photos </h4>
			<p><a href="https://unsplash.com/photos/eqsEZNCm4-c">Olenka Kotyk</a></p>
			<p><a href="https://unsplash.com/photos/k60JspcBwKE">Kawin Harasai</a></p>
			<p><a href="https://unsplash.com/photos/YTbFHT9_IhY">Greg Jeanneau</a></p>
		</div>
	</div>
	{% endblock content %}